html

body {
    font-family: 'Roboto';
   
}

:root {
    --accent-color: #2196F3;
    --text-color: #212121;
    --font-family-primary: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.logo-link{
    font-family: 'Raleway';
    font-size: 26px;
    color: var(--accent-color);
    text-decoration: none;
}

.logo-link>span {
    color: var(--text-color);
}

.nav-menu-link{
    color: var(--text-color);
    text-decoration: none;
}
    
.nav-menu-link:hover {
    color: var(--accent-color);
}
    
.nav-menu-link:focus {
    color: var(--accent-color);
}

.address-link {
    color: var(--text-color);
    font-style: normal;
    text-decoration: none;
}

.address-link:hover {
    color: var(--accent-color);
}

.address-link:focus {
    color: var(--accent-color);
}

.button{
    color: var(--text-color);
    background-color:#F5F4FA ;
    font-family: var(--font-family-primary);
    border: 0px;
    border-radius:4px ;
    padding: 6px 22px 6px 22px;
}

.button:hover{
    color: var(--text-color);
    background-color: var(--accent-color);
    font-family: var(--font-family-primary);
}
.hero-title{
    color: white;
}

.title-h2 {
     color: var(--text-color);
     font-size: 18px;

}

p{
    color:#757575 ;
    font-size: 14px;

    
}